<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16E195</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>KSImageNamed</string>
	<key>CFBundleIdentifier</key>
	<string>com.ksuther.KSImageNamed</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KSImageNamed</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>00000000-0000-0000-0000-000000000000</key>
		<string>MyFactoryFunction</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>00000000-0000-0000-0000-000000000000</key>
		<array>
			<string>00000000-0000-0000-0000-000000000000</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E162</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8E162</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>DFFB3951-EB0A-4C09-9DAC-5F2D28CC839C</string>
		<string>E0A62D1F-3C18-4D74-BFE5-A4167D643966</string>
		<string>DA4FDFD8-C509-4D8B-8B55-84A7B66AE701</string>
		<string>7FDF5C7A-131F-4ABB-9EDC-8C5F8F0B8A90</string>
		<string>0420B86A-AA43-4792-9ED0-6FE0F2B16A13</string>
		<string>CC0D0F4F-05B3-431A-8F33-F84AFCB2C651</string>
		<string>7265231C-39B4-402C-89E1-16167C4CC990</string>
		<string>F41BD31E-2683-44B8-AE7F-5F09E919790E</string>
		<string>ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C</string>
		<string>8A66E736-A720-4B3C-92F1-33D9962C69DF</string>
		<string>E0A62D1F-3C18-4D74-BFE5-A4167D643966</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Kent Sutherland</string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCGCReady</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
</dict>
</plist>
